                    @import "https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,400;0,500;0,600;0,700;1,400&amp;family=Unna:ital,wght@0,400;0,700;1,700&amp;display=swap";
                    @import"https://fonts.googleapis.com/css?family=Inter:300,400,500,600,700&amp;display=swap";
                    @import"https://fonts.googleapis.com/css2?family=Old+Standard+TT:ital,wght@0,400;0,700;1,400&display=swap";
                     :root {
                        --bs-yellow-euro: #edc68e;
                        --bs-green-euro: #046263;
                        --bs-blue: #0d6efd;
                        --bs-indigo: #6610f2;
                        --bs-purple: #6f42c1;
                        --bs-pink: #d63384;
                        --bs-red: #dc3545;
                        --bs-orange: #fd7e14;
                        --bs-yellow: #ffc107;
                        --bs-green: #198754;
                        --bs-teal: #20c997;
                        --bs-cyan: #0dcaf0;
                        --bs-white: #fff;
                        --bs-gray: #737491;
                        --bs-gray-dark: #4a4b65;
                        --bs-gray-100: #f7f7fc;
                        --bs-gray-200: #f3f3f9;
                        --bs-gray-300: #e9e9f2;
                        --bs-gray-400: #dfdfeb;
                        --bs-gray-500: #9e9fb4;
                        --bs-gray-600: #737491;
                        --bs-gray-700: #5a5b75;
                        --bs-gray-800: #4a4b65;
                        --bs-gray-900: #37384e;
                        --bs-primary: #766df4;
                        --bs-secondary: #f7f7fc;
                        --bs-success: #16c995;
                        --bs-info: #6a9bf4;
                        --bs-warning: #ffb15c;
                        --bs-danger: #f74f78;
                        --bs-light: #fff;
                        --bs-dark: #37384e;
                        --bs-primary-rgb: 118, 109, 244;
                        --bs-secondary-rgb: 247, 247, 252;
                        --bs-success-rgb: 22, 201, 149;
                        --bs-info-rgb: 106, 155, 244;
                        --bs-warning-rgb: 255, 177, 92;
                        --bs-danger-rgb: 247, 79, 120;
                        --bs-light-rgb: 255, 255, 255;
                        --bs-dark-rgb: 55, 56, 78;
                        --bs-white-rgb: 255, 255, 255;
                        --bs-black-rgb: 0, 0, 0;
                        --bs-body-rgb: 115, 116, 145;
                        --bs-font-sans-serif: "Inter", sans-serif;
                        --bs-font-monospace: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
                        --bs-gradient: linear-gradient(to right, #766df4 0%, #766df4 30%, #6a9bf4 100%);
                        --bs-body-font-family: var(--bs-font-sans-serif);
                        --bs-body-font-size: 1rem;
                        --bs-body-font-weight: 400;
                        --bs-body-line-height: 1.5;
                        --bs-body-color: #737491;
                        --bs-body-bg: #fff
                    }
                    
                    .page-loading {
                        position: fixed;
                        top: 0;
                        right: 0;
                        bottom: 0;
                        left: 0;
                        width: 100%;
                        height: 100%;
                        -webkit-transition: all .4s .2s ease-in-out;
                        transition: all .4s .2s ease-in-out;
                        background-color: #fff;
                        opacity: 0;
                        visibility: hidden;
                        z-index: 9999;
                    }
                    
                    .page-loading.active {
                        opacity: 1;
                        visibility: visible;
                    }
                    
                    .page-loading-inner {
                        position: absolute;
                        top: 50%;
                        left: 0;
                        width: 100%;
                        text-align: center;
                        -webkit-transform: translateY(-50%);
                        transform: translateY(-50%);
                        -webkit-transition: opacity .2s ease-in-out;
                        transition: opacity .2s ease-in-out;
                        opacity: 0;
                    }
                    
                    .page-loading.active>.page-loading-inner {
                        opacity: 1;
                    }
                    
                    .page-loading-inner>span {
                        display: block;
                        font-family: 'Inter', sans-serif;
                        font-size: 1rem;
                        font-weight: normal;
                        color: #737491;
                    }
                    
                    .page-spinner {
                        display: inline-block;
                        width: 2.75rem;
                        height: 2.75rem;
                        margin-bottom: .75rem;
                        vertical-align: text-bottom;
                        border: .15em solid #766df4;
                        border-right-color: transparent;
                        border-radius: 50%;
                        -webkit-animation: spinner .75s linear infinite;
                        animation: spinner .75s linear infinite;
                    }
                    
                    @-webkit-keyframes spinner {
                        100% {
                            -webkit-transform: rotate(360deg);
                            transform: rotate(360deg);
                        }
                    }
                    
                    @keyframes spinner {
                        100% {
                            -webkit-transform: rotate(360deg);
                            transform: rotate(360deg);
                        }
                    }
                    
                    @font-face {
                        font-family: "around-icons";
                        src: url("../fonts/around-icons202a.ttf?enmnv5") format("truetype"), url("../fonts/around-icons202a.woff?enmnv5") format("woff"), url("../fonts/around-icons202a.svg?enmnv5#around-icons") format("svg");
                        font-weight: normal;
                        font-style: normal;
                        font-display: block
                    }
                    
                    [class^=ai-],
                    [class*=" ai-"] {
                        display: inline-block;
                        font-family: "around-icons" !important;
                        speak: never;
                        font-style: normal;
                        font-weight: normal !important;
                        font-variant: normal;
                        text-transform: none;
                        line-height: 1;
                        vertical-align: middle;
                        -webkit-font-smoothing: antialiased;
                        -moz-osx-font-smoothing: grayscale
                    }
                    
                    .ai-activity:before {
                        content: ""
                    }
                    
                    .ai-airplay:before {
                        content: ""
                    }
                    
                    .ai-alert-circle:before {
                        content: ""
                    }
                    
                    .ai-alert-octagon:before {
                        content: ""
                    }
                    
                    .ai-alert-triangle:before {
                        content: ""
                    }
                    
                    .ai-align-center:before {
                        content: ""
                    }
                    
                    .ai-align-justify:before {
                        content: ""
                    }
                    
                    .ai-align-left:before {
                        content: ""
                    }
                    
                    .ai-align-right:before {
                        content: ""
                    }
                    
                    .ai-anchor:before {
                        content: ""
                    }
                    
                    .ai-aperture:before {
                        content: ""
                    }
                    
                    .ai-archive:before {
                        content: ""
                    }
                    
                    .ai-arrow-down-circle:before {
                        content: ""
                    }
                    
                    .ai-arrow-down-left:before {
                        content: ""
                    }
                    
                    .ai-arrow-down-right:before {
                        content: ""
                    }
                    
                    .ai-arrow-down:before {
                        content: ""
                    }
                    
                    .ai-arrow-left-circle:before {
                        content: ""
                    }
                    
                    .ai-arrow-left:before {
                        content: ""
                    }
                    
                    .ai-arrow-right-circle:before {
                        content: ""
                    }
                    
                    .ai-arrow-right:before {
                        content: ""
                    }
                    
                    .ai-arrow-up-circle:before {
                        content: ""
                    }
                    
                    .ai-arrow-up-left:before {
                        content: ""
                    }
                    
                    .ai-arrow-up-right:before {
                        content: ""
                    }
                    
                    .ai-arrow-up:before {
                        content: ""
                    }
                    
                    .ai-at-sign:before {
                        content: ""
                    }
                    
                    .ai-award:before {
                        content: ""
                    }
                    
                    .ai-bar-chart-2:before {
                        content: ""
                    }
                    
                    .ai-bar-chart:before {
                        content: ""
                    }
                    
                    .ai-battery-charging:before {
                        content: ""
                    }
                    
                    .ai-battery:before {
                        content: ""
                    }
                    
                    .ai-behance:before {
                        content: ""
                    }
                    
                    .ai-bell-off:before {
                        content: ""
                    }
                    
                    .ai-bell:before {
                        content: ""
                    }
                    
                    .ai-bluetooth:before {
                        content: ""
                    }
                    
                    .ai-bold:before {
                        content: ""
                    }
                    
                    .ai-book-open:before {
                        content: ""
                    }
                    
                    .ai-book:before {
                        content: ""
                    }
                    
                    .ai-bookmark:before {
                        content: ""
                    }
                    
                    .ai-box:before {
                        content: ""
                    }
                    
                    .ai-briefcase:before {
                        content: ""
                    }
                    
                    .ai-calendar:before {
                        content: ""
                    }
                    
                    .ai-camera-off:before {
                        content: ""
                    }
                    
                    .ai-camera:before {
                        content: ""
                    }
                    
                    .ai-cast:before {
                        content: ""
                    }
                    
                    .ai-check-circle:before {
                        content: ""
                    }
                    
                    .ai-check-square:before {
                        content: ""
                    }
                    
                    .ai-check:before {
                        content: ""
                    }
                    
                    .ai-chevron-down:before {
                        content: ""
                    }
                    
                    .ai-chevron-left:before {
                        content: ""
                    }
                    
                    .ai-chevron-right:before {
                        content: ""
                    }
                    
                    .ai-chevron-up:before {
                        content: ""
                    }
                    
                    .ai-chevrons-down:before {
                        content: ""
                    }
                    
                    .ai-chevrons-left:before {
                        content: ""
                    }
                    
                    .ai-chevrons-right:before {
                        content: ""
                    }
                    
                    .ai-chevrons-up:before {
                        content: ""
                    }
                    
                    .ai-chrome:before {
                        content: ""
                    }
                    
                    .ai-clipboard:before {
                        content: ""
                    }
                    
                    .ai-clock:before {
                        content: ""
                    }
                    
                    .ai-cloud-drizzle:before {
                        content: ""
                    }
                    
                    .ai-cloud-lightning:before {
                        content: ""
                    }
                    
                    .ai-cloud-off:before {
                        content: ""
                    }
                    
                    .ai-cloud-rain:before {
                        content: ""
                    }
                    
                    .ai-cloud-snow:before {
                        content: ""
                    }
                    
                    .ai-cloud:before {
                        content: ""
                    }
                    
                    .ai-code:before {
                        content: ""
                    }
                    
                    .ai-codepen:before {
                        content: ""
                    }
                    
                    .ai-codesandbox:before {
                        content: ""
                    }
                    
                    .ai-coffee:before {
                        content: ""
                    }
                    
                    .ai-columns:before {
                        content: ""
                    }
                    
                    .ai-command:before {
                        content: ""
                    }
                    
                    .ai-compass:before {
                        content: ""
                    }
                    
                    .ai-copy:before {
                        content: ""
                    }
                    
                    .ai-corner-down-left:before {
                        content: ""
                    }
                    
                    .ai-corner-down-right:before {
                        content: ""
                    }
                    
                    .ai-corner-left-down:before {
                        content: ""
                    }
                    
                    .ai-corner-left-up:before {
                        content: ""
                    }
                    
                    .ai-corner-right-down:before {
                        content: ""
                    }
                    
                    .ai-corner-right-up:before {
                        content: ""
                    }
                    
                    .ai-corner-up-left:before {
                        content: ""
                    }
                    
                    .ai-corner-up-right:before {
                        content: ""
                    }
                    
                    .ai-cpu:before {
                        content: ""
                    }
                    
                    .ai-credit-card:before {
                        content: ""
                    }
                    
                    .ai-crop:before {
                        content: ""
                    }
                    
                    .ai-crosshair:before {
                        content: ""
                    }
                    
                    .ai-database:before {
                        content: ""
                    }
                    
                    .ai-delete:before {
                        content: ""
                    }
                    
                    .ai-disc:before {
                        content: ""
                    }
                    
                    .ai-dollar-sign:before {
                        content: ""
                    }
                    
                    .ai-download-cloud:before {
                        content: ""
                    }
                    
                    .ai-download:before {
                        content: ""
                    }
                    
                    .ai-dribbble:before {
                        content: ""
                    }
                    
                    .ai-droplet:before {
                        content: ""
                    }
                    
                    .ai-edit-2:before {
                        content: ""
                    }
                    
                    .ai-edit-3:before {
                        content: ""
                    }
                    
                    .ai-edit:before {
                        content: ""
                    }
                    
                    .ai-external-link:before {
                        content: ""
                    }
                    
                    .ai-eye-off:before {
                        content: ""
                    }
                    
                    .ai-eye:before {
                        content: ""
                    }
                    
                    .ai-facebook:before {
                        content: ""
                    }
                    
                    .ai-fast-forward:before {
                        content: ""
                    }
                    
                    .ai-feather:before {
                        content: ""
                    }
                    
                    .ai-figma:before {
                        content: ""
                    }
                    
                    .ai-file-minus:before {
                        content: ""
                    }
                    
                    .ai-file-plus:before {
                        content: ""
                    }
                    
                    .ai-file-text:before {
                        content: ""
                    }
                    
                    .ai-file:before {
                        content: ""
                    }
                    
                    .ai-film:before {
                        content: ""
                    }
                    
                    .ai-filter-alt:before {
                        content: ""
                    }
                    
                    .ai-filter:before {
                        content: ""
                    }
                    
                    .ai-flag:before {
                        content: ""
                    }
                    
                    .ai-folder-minus:before {
                        content: ""
                    }
                    
                    .ai-folder-plus:before {
                        content: ""
                    }
                    
                    .ai-folder:before {
                        content: ""
                    }
                    
                    .ai-framer:before {
                        content: ""
                    }
                    
                    .ai-frown:before {
                        content: ""
                    }
                    
                    .ai-gift:before {
                        content: ""
                    }
                    
                    .ai-git-branch:before {
                        content: ""
                    }
                    
                    .ai-git-commit:before {
                        content: ""
                    }
                    
                    .ai-git-merge:before {
                        content: ""
                    }
                    
                    .ai-git-pull-request:before {
                        content: ""
                    }
                    
                    .ai-github:before {
                        content: ""
                    }
                    
                    .ai-gitlab:before {
                        content: ""
                    }
                    
                    .ai-globe:before {
                        content: ""
                    }
                    
                    .ai-google:before {
                        content: ""
                    }
                    
                    .ai-grid:before {
                        content: ""
                    }
                    
                    .ai-hangouts:before {
                        content: ""
                    }
                    
                    .ai-hard-drive:before {
                        content: ""
                    }
                    
                    .ai-hash:before {
                        content: ""
                    }
                    
                    .ai-headphones:before {
                        content: ""
                    }
                    
                    .ai-heart:before {
                        content: ""
                    }
                    
                    .ai-help-circle:before {
                        content: ""
                    }
                    
                    .ai-hexagon:before {
                        content: ""
                    }
                    
                    .ai-home:before {
                        content: ""
                    }
                    
                    .ai-image:before {
                        content: ""
                    }
                    
                    .ai-inbox:before {
                        content: ""
                    }
                    
                    .ai-info:before {
                        content: ""
                    }
                    
                    .ai-instagram:before {
                        content: ""
                    }
                    
                    .ai-italic:before {
                        content: ""
                    }
                    
                    .ai-key:before {
                        content: ""
                    }
                    
                    .ai-layers:before {
                        content: ""
                    }
                    
                    .ai-layout:before {
                        content: ""
                    }
                    
                    .ai-life-buoy:before {
                        content: ""
                    }
                    
                    .ai-link-2:before {
                        content: ""
                    }
                    
                    .ai-link:before {
                        content: ""
                    }
                    
                    .ai-linkedin:before {
                        content: ""
                    }
                    
                    .ai-list:before {
                        content: ""
                    }
                    
                    .ai-loader:before {
                        content: ""
                    }
                    
                    .ai-lock:before {
                        content: ""
                    }
                    
                    .ai-log-in:before {
                        content: ""
                    }
                    
                    .ai-log-out:before {
                        content: ""
                    }
                    
                    .ai-mail:before {
                        content: ""
                    }
                    
                    .ai-map-pin:before {
                        content: ""
                    }
                    
                    .ai-map:before {
                        content: ""
                    }
                    
                    .ai-maximize-2:before {
                        content: ""
                    }
                    
                    .ai-maximize:before {
                        content: ""
                    }
                    
                    .ai-meh:before {
                        content: ""
                    }
                    
                    .ai-menu:before {
                        content: ""
                    }
                    
                    .ai-message-circle:before {
                        content: ""
                    }
                    
                    .ai-message-square:before {
                        content: ""
                    }
                    
                    .ai-messenger:before {
                        content: ""
                    }
                    
                    .ai-mic-off:before {
                        content: ""
                    }
                    
                    .ai-mic:before {
                        content: ""
                    }
                    
                    .ai-minimize-2:before {
                        content: ""
                    }
                    
                    .ai-minimize:before {
                        content: ""
                    }
                    
                    .ai-minus-circle:before {
                        content: ""
                    }
                    
                    .ai-minus-square:before {
                        content: ""
                    }
                    
                    .ai-minus:before {
                        content: ""
                    }
                    
                    .ai-monitor:before {
                        content: ""
                    }
                    
                    .ai-moon:before {
                        content: ""
                    }
                    
                    .ai-more-horizontal:before {
                        content: ""
                    }
                    
                    .ai-more-vertical:before {
                        content: ""
                    }
                    
                    .ai-mouse-pointer:before {
                        content: ""
                    }
                    
                    .ai-move:before {
                        content: ""
                    }
                    
                    .ai-music:before {
                        content: ""
                    }
                    
                    .ai-navigation-2:before {
                        content: ""
                    }
                    
                    .ai-navigation:before {
                        content: ""
                    }
                    
                    .ai-octagon:before {
                        content: ""
                    }
                    
                    .ai-odnoklassniki:before {
                        content: ""
                    }
                    
                    .ai-package:before {
                        content: ""
                    }
                    
                    .ai-paperclip:before {
                        content: ""
                    }
                    
                    .ai-pause-circle:before {
                        content: ""
                    }
                    
                    .ai-pause:before {
                        content: ""
                    }
                    
                    .ai-paypal:before {
                        content: ""
                    }
                    
                    .ai-pen-tool:before {
                        content: ""
                    }
                    
                    .ai-percent:before {
                        content: ""
                    }
                    
                    .ai-phone-call:before {
                        content: ""
                    }
                    
                    .ai-phone-forwarded:before {
                        content: ""
                    }
                    
                    .ai-phone-incoming:before {
                        content: ""
                    }
                    
                    .ai-phone-missed:before {
                        content: ""
                    }
                    
                    .ai-phone-off:before {
                        content: ""
                    }
                    
                    .ai-phone-outgoing:before {
                        content: ""
                    }
                    
                    .ai-phone:before {
                        content: ""
                    }
                    
                    .ai-pie-chart:before {
                        content: ""
                    }
                    
                    .ai-pinterest:before {
                        content: ""
                    }
                    
                    .ai-play-circle:before {
                        content: ""
                    }
                    
                    .ai-play:before {
                        content: ""
                    }
                    
                    .ai-plus-circle:before {
                        content: ""
                    }
                    
                    .ai-plus-square:before {
                        content: ""
                    }
                    
                    .ai-plus:before {
                        content: ""
                    }
                    
                    .ai-pocket:before {
                        content: ""
                    }
                    
                    .ai-power:before {
                        content: ""
                    }
                    
                    .ai-printer:before {
                        content: ""
                    }
                    
                    .ai-radio:before {
                        content: ""
                    }
                    
                    .ai-refresh-ccw:before {
                        content: ""
                    }
                    
                    .ai-refresh-cw:before {
                        content: ""
                    }
                    
                    .ai-repeat:before {
                        content: ""
                    }
                    
                    .ai-rewind:before {
                        content: ""
                    }
                    
                    .ai-rotate-ccw:before {
                        content: ""
                    }
                    
                    .ai-rotate-cw:before {
                        content: ""
                    }
                    
                    .ai-rss:before {
                        content: ""
                    }
                    
                    .ai-save:before {
                        content: ""
                    }
                    
                    .ai-scissors:before {
                        content: ""
                    }
                    
                    .ai-search:before {
                        content: ""
                    }
                    
                    .ai-send:before {
                        content: ""
                    }
                    
                    .ai-server:before {
                        content: ""
                    }
                    
                    .ai-settings:before {
                        content: ""
                    }
                    
                    .ai-share-2:before {
                        content: ""
                    }
                    
                    .ai-share:before {
                        content: ""
                    }
                    
                    .ai-shield-off:before {
                        content: ""
                    }
                    
                    .ai-shield:before {
                        content: ""
                    }
                    
                    .ai-shopping-bag:before {
                        content: ""
                    }
                    
                    .ai-shopping-cart:before {
                        content: ""
                    }
                    
                    .ai-shuffle:before {
                        content: ""
                    }
                    
                    .ai-sidebar:before {
                        content: ""
                    }
                    
                    .ai-skip-back:before {
                        content: ""
                    }
                    
                    .ai-skip-forward:before {
                        content: ""
                    }
                    
                    .ai-skype:before {
                        content: ""
                    }
                    
                    .ai-slack:before {
                        content: ""
                    }
                    
                    .ai-slash:before {
                        content: ""
                    }
                    
                    .ai-sliders:before {
                        content: ""
                    }
                    
                    .ai-smartphone:before {
                        content: ""
                    }
                    
                    .ai-smile:before {
                        content: ""
                    }
                    
                    .ai-speaker:before {
                        content: ""
                    }
                    
                    .ai-star:before {
                        content: ""
                    }
                    
                    .ai-stop-circle:before {
                        content: ""
                    }
                    
                    .ai-sun:before {
                        content: ""
                    }
                    
                    .ai-sunrise:before {
                        content: ""
                    }
                    
                    .ai-sunset:before {
                        content: ""
                    }
                    
                    .ai-tablet:before {
                        content: ""
                    }
                    
                    .ai-tag:before {
                        content: ""
                    }
                    
                    .ai-target:before {
                        content: ""
                    }
                    
                    .ai-telegram:before {
                        content: ""
                    }
                    
                    .ai-terminal:before {
                        content: ""
                    }
                    
                    .ai-thermometer:before {
                        content: ""
                    }
                    
                    .ai-thumbs-down:before {
                        content: ""
                    }
                    
                    .ai-thumbs-up:before {
                        content: ""
                    }
                    
                    .ai-toggle-left:before {
                        content: ""
                    }
                    
                    .ai-toggle-right:before {
                        content: ""
                    }
                    
                    .ai-tool:before {
                        content: ""
                    }
                    
                    .ai-trash-2:before {
                        content: ""
                    }
                    
                    .ai-trash:before {
                        content: ""
                    }
                    
                    .ai-trello:before {
                        content: ""
                    }
                    
                    .ai-trending-down:before {
                        content: ""
                    }
                    
                    .ai-trending-up:before {
                        content: ""
                    }
                    
                    .ai-truck:before {
                        content: ""
                    }
                    
                    .ai-tumblr:before {
                        content: ""
                    }
                    
                    .ai-tv:before {
                        content: ""
                    }
                    
                    .ai-twitch:before {
                        content: ""
                    }
                    
                    .ai-twitter:before {
                        content: ""
                    }
                    
                    .ai-type:before {
                        content: ""
                    }
                    
                    .ai-umbrella:before {
                        content: ""
                    }
                    
                    .ai-underline:before {
                        content: ""
                    }
                    
                    .ai-unlock:before {
                        content: ""
                    }
                    
                    .ai-upload-cloud:before {
                        content: ""
                    }
                    
                    .ai-upload:before {
                        content: ""
                    }
                    
                    .ai-user-check:before {
                        content: ""
                    }
                    
                    .ai-user-minus:before {
                        content: ""
                    }
                    
                    .ai-user-plus:before {
                        content: ""
                    }
                    
                    .ai-user-x:before {
                        content: ""
                    }
                    
                    .ai-user:before {
                        content: ""
                    }
                    
                    .ai-users:before {
                        content: ""
                    }
                    
                    .ai-viber:before {
                        content: ""
                    }
                    
                    .ai-video-off:before {
                        content: ""
                    }
                    
                    .ai-video:before {
                        content: ""
                    }
                    
                    .ai-vimeo:before {
                        content: ""
                    }
                    
                    .ai-vk:before {
                        content: ""
                    }
                    
                    .ai-voicemail:before {
                        content: ""
                    }
                    
                    .ai-volume-1:before {
                        content: ""
                    }
                    
                    .ai-volume-2:before {
                        content: ""
                    }
                    
                    .ai-volume-x:before {
                        content: ""
                    }
                    
                    .ai-volume:before {
                        content: ""
                    }
                    
                    .ai-watch:before {
                        content: ""
                    }
                    
                    .ai-wechat:before {
                        content: ""
                    }
                    
                    .ai-wifi-off:before {
                        content: ""
                    }
                    
                    .ai-wifi:before {
                        content: ""
                    }
                    
                    .ai-wind:before {
                        content: ""
                    }
                    
                    .ai-x-circle:before {
                        content: ""
                    }
                    
                    .ai-x-octagon:before {
                        content: ""
                    }
                    
                    .ai-x-square:before {
                        content: ""
                    }
                    
                    .ai-x:before {
                        content: ""
                    }
                    
                    .ai-youtube:before {
                        content: ""
                    }
                    
                    .ai-zap-off:before {
                        content: ""
                    }
                    
                    .ai-zap:before {
                        content: ""
                    }
                    
                    .ai-zoom-in:before {
                        content: ""
                    }
                    
                    .ai-zoom-out:before {
                        content: ""
                    }
                    
                    .ai-quotes:before {
                        content: ""
                    }
                    
                    .ai-star-filled:before {
                        content: ""
                    }
                    
                    .ai-whatsapp:before {
                        content: ""
                    }
                    
                    .title-banner {
                        font-size: 1.2em;
                        line-height: 1.2;
                        font-weight: 300;
                        text-transform: uppercase;
                        color: #fff;
                        font-family: Montserrat, sans-serif;
                    }
                    
                    .content-banner {
                        font-size: 2.25em;
                        font-family: Times New Roman, sans-serif;
                        font-style: italic;
                        font-weight: 700;
                        color: #fff;
                    }
                    
                    .background-bottom {
                        background: url(../img/bg-bottom.png) no-repeat bottom center;
                        padding-bottom: 22px;
                    }
                    /* .bg-navbar {
    height: 100px;
    float: left;
    width: 100%;
    background: url(../img/bghome2.jpg) repeat;
} */
                    
                    .button-more {
                        padding-top: 1rem;
                        padding-bottom: 1rem;
                        display: flex;
                        justify-content: center;
                    }
                    
                    .exampleClass {
                        padding: 0.435rem 1rem;
                        background-color: var(--bs-yellow-euro);
                        border-radius: 0.5rem;
                        position: relative;
                        overflow: hidden;
                        align-items: center;
                    }
                    
                    .exampleClass span {
                        text-align: center;
                        color: var(--bs-green-euro);
                        position: relative;
                        z-index: 1;
                        transition: color 0.6s cubic-bezier(0.53, 0.21, 0, 1);
                    }
                    
                    .exampleClass a {
                        font-weight: 500;
                        justify-content: center;
                        text-align: center;
                        text-decoration: none;
                    }
                    
                    .exampleClass::before {
                        content: '';
                        position: absolute;
                        top: 50%;
                        left: 0;
                        border-radius: .5rem;
                        transform: translate(-100%, -50%);
                        width: 100%;
                        height: 100%;
                        background-color: var(--bs-green-euro);
                        transition: transform 0.6s cubic-bezier(0.53, 0.21, 0, 1);
                    }
                    
                    .exampleClass:hover span {
                        color: white;
                    }
                    
                    .exampleClass:hover::before {
                        transform: translate(0, -50%);
                    }
                    
                    .sub-text-title {
                        color: var(--bs-yellow-euro);
                        font-weight: 600;
                    }
                    
                    .service-more {
                        text-align: center;
                        cursor: pointer;
                        padding: 0.435rem 1rem;
                        background-color: var(--bs-yellow-euro);
                        border-radius: .5rem;
                        position: relative;
                        overflow: hidden;
                        align-items: center;
                    }
                    
                    .service-more span {
                        text-align: center;
                        color: var(--bs-green-euro);
                        position: relative;
                        z-index: 1;
                        transition: color 0.6s cubic-bezier(0.53, 0.21, 0, 1);
                        text-decoration: none;
                    }
                    
                    .service-more a {
                        font-size: 14px;
                        font-weight: 400;
                        justify-content: center;
                        text-align: center;
                        text-decoration: none;
                    }
                    
                    .service-more::before {
                        content: '';
                        position: absolute;
                        top: 50%;
                        left: 0;
                        border-radius: .5rem;
                        transform: translate(-100%, -50%);
                        width: 100%;
                        height: 100%;
                        background-color: var(--bs-green-euro);
                        transition: transform 0.6s cubic-bezier(0.53, 0.21, 0, 1);
                    }
                    
                    .service-more:hover span {
                        color: white;
                    }
                    
                    .service-more:hover::before {
                        transform: translate(0, -50%);
                    }
                    
                    .card-img {
                        width: auto;
                        height: 200px;
                        object-fit: cover;
                    }
                    
                    .card-content-service {
                        font-size: 12px;
                        margin: 0;
                    }
                    
                    p.card-content-service {
                        display: -webkit-box;
                        -webkit-line-clamp: 2;
                        -webkit-box-orient: vertical;
                        overflow: hidden;
                        width: 100%;
                        max-width: 100%;
                    }
                    
                    .h5 {
                        font-family: Playfair Display, serif;
                        font-size: 1.5rem;
                        color: #37384e !important;
                    }
                    
                    .typical-card-img {
                        height: 450px;
                        width: auto;
                        object-fit: cover;
                    }
                    
                    p {
                        font-family: Inter, sans-serif;
                    }
                    
                    .sub-text-why {
                        font-size: 12px;
                        color: #37384e !important;
                        margin-left: 1.7rem;
                    }
                    
                    .title-content-why {
                        font-size: 14px;
                        color: var(--bs-green-euro);
                        display: inline;
                        font-weight: 500;
                    }
                    
                    .card-title-blog {
                        font-size: 30px;
                        font-weight: 600;
                        font-family: Playfair Display, serif;
                        color: var(--bs-green-euro)
                    }
                    
                    .active-step {
                        background-color: var(--bs-yellow-euro)
                    }
                    
                    .steps-booking {
                        font-size: 3rem;
                        font-weight: 700;
                        font-family: 'Times New Roman', serif;
                    }
                    
                    .room-price-hotel {
                        display: flex;
                        justify-content: space-between;
                        align-items: center;
                        padding-top: 1rem;
                        padding-left: 1.25rem;
                        padding-right: 1.25rem;
                        border: 0;
                    }
                    
                    .room-name {
                        font-style: italic;
                        display: flex;
                        align-items: center;
                        justify-content: space-between;
                        padding: 0rem 1.25rem 0rem 1.25rem;
                        color: #000;
                    }
                    
                    .room-price {
                        font-family: "Old Standard TT", serif;
                        color: #000;
                        font-size: 1.5rem;
                    }
                    
                    .ratings-quality {
                        font-size: .8rem;
                    }
                    
                    .room-services {
                        margin-left: 1rem
                    }
                    
                    .list-services {
                        font-size: 1rem;
                        margin: .1rem .1rem;
                    }
                    
                    .list-services:first-child {
                        margin-top: 1rem;
                    }
                    
                    .list-services:last-child {
                        margin-bottom: 2rem;
                    }